@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spiegel';
  src: url('/styles/fonts/spiegel.ttf');
  src: url('/styles/fonts/spiegel.ttf');
}

@font-face {
  font-family: 'BeaufortforLOL-Heavy';
  src: url('/styles/fonts/beaufortforlol-heavy.otf');
  src: url('/styles/fonts/beaufortforlol-heavy.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  background: #000913;
  font-family: Spiegel, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

div {
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.beaufort {
  font-family: 'BeaufortforLOL-Heavy', serif;
}

.custom-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 2;
}

@keyframes pulse {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
